<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="1MB" />
        <param name="maxBackupIndex" value="2 " />
        <param name="File" value="src/main/java/logCalculator.txt" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>

    <appender name="mathAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="1MB" />
        <param name="maxBackupIndex" value="2 " />
        <param name="File" value="src/main/java/logMathOperations.txt" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>

    <category name="main">
        <priority value="info" />
        <appender-ref ref="fileAppender"/>
    </category>
    <category name="operations" additivity="false">
        <priority value="debug" />
        <appender-ref ref="mathAppender"/>
    </category>

    <!--    <root>-->
    <!--        <priority value ="debug" />-->
    <!--        <appender-ref ref="fileAppender"/>-->
    <!--    </root>-->

</log4j:configuration>